<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="fonts/PlayfairDisplay/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/utill.css">
    <link rel="stylesheet" type="text/css" href="css/mainn.css">
</head>
<body>
    <style>
        .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

    </style>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form id="signupForm" action="/userRegister" method="post" class="login100-form validate-form" onsubmit="return validateForm()">
                    <% if (locals.userExists) { %>
                        <p style="color: red;display: flex;justify-content: center;"><%= userExists %></p>
                    <% } %>
                    <span class="login100-form-title p-b-43">
                        Sign Up to continue
                    </span>
                    
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <input class="input100" type="text" placeholder="Name" name="name" id="name">
                        <div class="error-message" id="name-error"></div>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="Email" id="email">
                        <div class="error-message" id="email-error"></div>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" placeholder="Password" name="pass" id="password">
                        <input type="checkbox" id="showPassword"><p>Show password</p>
                        <div class="error-message" id="password-error"></div>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Confirm password is required">
                        <input class="input100" type="password" placeholder="Confirm Password" name="confirm-pass" id="confirm-password">
                        <div class="error-message" id="confirm-password-error"></div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Sign Up
                        </button>
                    </div>
                    
                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
                            or sign up using
                        </span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a href="/auth/google" class="login100-form-social-item flex-c-m bg-google m-r-5">
                            <i class="fa fa-google" aria-hidden="true" style="color: rgb(250, 13, 13);"></i>
                        </a>
                        <a href="/auth/facebook" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('fonts/PlayfairDisplay/images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>
    


    <script>
        const passwordField = document.getElementById('password');
        const showPassword = document.getElementById('showPassword');

        showPassword.addEventListener('change',function(){
            if(this.checked){
                passwordField.type = 'text'; 
            }else{
                passwordField.type = 'password'
            }
        })

    </script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>
    
    <script>
     function validateForm() {
    let isValid = true;

    const name = document.getElementById('name').value.trim();
    const email = document.getElementById('email').value.trim();
    const password = document.getElementById('password').value.trim();
    const confirmPassword = document.getElementById('confirm-password').value.trim();
    
    const nameError = document.getElementById('name-error');
    const emailError = document.getElementById('email-error');
    const passwordError = document.getElementById('password-error');
    const confirmPasswordError = document.getElementById('confirm-password-error');

    nameError.textContent = '';
    emailError.textContent = '';
    passwordError.textContent = '';
    confirmPasswordError.textContent = '';

    const namePattern = /^[A-Za-z][A-Za-z\s]*$/;
    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const passwordPattern = /^(?=.*[A-Z])(?=.*\W).{8,}$/;
    
    if (!name || !namePattern.test(name)) {
        nameError.textContent = 'Not a valid name.';
        isValid = false;
    }
    
    if (!email || !emailPattern.test(email)) {
        emailError.textContent = 'Not a valid email.';
        isValid = false;
    }
    
    if (!passwordPattern.test(password)) {
        passwordError.textContent = 'Not a valid password.';
        isValid = false;
    }
    
    if (password !== confirmPassword) {
        confirmPasswordError.textContent = 'Password and Confirm Password must match.';
        isValid = false;
    }
    
    return isValid;
}


    </script>
</body>
</html>

















































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="fonts/PlayfairDisplay/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/utill.css">
    <link rel="stylesheet" type="text/css" href="css/mainn.css">

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form id="signupForm" action="/userRegister" method="post" class="login100-form validate-form" onsubmit="return validateForm()">
                    <% if (locals.userExists) { %>
                        <p style="color: red;display: flex;justify-content: center;"><%= userExists %></p>
                    <% } %>
                    <span class="login100-form-title p-b-43">
                        Sign Up to continue
                    </span>
                    
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <input class="input100" type="text" placeholder="Name" name="name" id="name"> -->
                    
                        
                    <!-- </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="Email" id="email"> -->
                        
                    <!-- </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" placeholder="Password" name="pass" id="password">
                    
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Confirm password is required">
                        <input class="input100" type="password" placeholder="Confirm Password" name="confirm-pass" id="confirm-password">
                  
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Sign Up
                        </button>
                    </div>
                    
                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2">
                            or sign up using
                        </span>
                    </div>

                    <div class="login100-form-social flex-c-m">
                        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('fonts/PlayfairDisplay/images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>
    
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>
    
    <script>
        function validateForm() {
            const name = document.getElementById('name').value.trim();
            const email = document.getElementById('email').value.trim();
            const password = document.getElementById('password').value.trim();
            const confirmPassword = document.getElementById('confirm-password').value.trim();
            
            if (!name || name === '') {
                alert('Name is required and cannot be empty or contain only spaces.');
                return false;
            }
            
            if (password.length < 8) {
                alert('Password must be at least 8 characters long.');
                return false;
            }
            
            if (password !== confirmPassword) {
                alert('Password and Confirm Password must match.');
                return false;
            }
            
            return true;
        }
    </script>

</body>
</html> -->
